<div class="sidebar">
  <h2>Menu</h2>
  <ul>
    <li>
      <a href="#">Cars</a>
      <ul class="submenu">
        <li><a href="/cars">View Cars</a></li>
        <li><a href="/add-cars">Add Car</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Reservations</a>
      <ul class="submenu">
        <li><a href="/reservations">View Reservations</a></li>
        <li><a href="/add-reservations">Add Reservation</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Branches</a>
      <ul class="submenu">
        <li><a href="/branches">View Branches</a></li>
        <li><a href="/add-branches">Add Branch</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Users</a>
      <ul class="submenu">
        <li><a href="/users">View Users</a></li>
        <li><a href="#">View Roles</a></li>
        <li><a href="#">Add Role</a></li>
        <li><a href="#">Add Role To User</a></li>
      </ul>
    </li>
    <li>
      <a href="#"><i class="fas fa-sign-out-alt"></i> Sign out</a>
    </li>
  </ul>
</div>
